
@{
    ViewData["Title"] = "index";
}

<h1>Professores</h1>
@model List<Professor>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Cpf</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Professor professor in Model)
            {
                <tr>
                    <td class="col-md-4">@professor.Nome </td>
                    <td class="col-md-1">@professor.Materia </td>
                    <td class="col-md-3">@professor.Cpf </td>
                    <td>
                        <div class="">
                        <a type="submit" class="btn btn-primary" role="button" asp-controller="Professor" asp-action="Editar" asp-route-id="@professor.Id">Editar</a>
                        </div>
                    </td>
                    <td>
                    <div class="">
                        <a type="submit" class="btn btn-primary" role="button" asp-controller="Professor" asp-action="RemoverProfessor" asp-route-id="@professor.Id">Remover</a>
                    </div>
                    </td>
                </tr>
            }
        }
        
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Professor" asp-action="AdicionarProfessor"> Adicionar Professor</a>
</div>
